* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw+1vh);
}
.wrapperGoods {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.wrapperGoods > ul {
  position: relative;
  box-shadow: 3px 3px 5px grey;
  border-radius: 12px;
  padding: 1vw;
  height: 40vh;
  margin: 0 1vh 3vh 1vh;
}

.wrapperGoods li {
  list-style: none;
  font-style: italic;
}
.wrapperGoods img {
  z-index: 0;
}
.itemHeader {
  font-weight: 900;
  color: rgb(0, 0, 14);
  text-shadow: 3px 3px 4px rgb(67, 67, 99);
  margin-bottom: 3vh;
  height: 7vh;
}
.descript {
  cursor: pointer;
  height: 2.5vh;
  overflow: hidden;
}

.imgDescriptWrapper {
  height: 23vh;
}
.imgDescriptWrapper:hover .descript {
  height: 25vh;
  font-size: 0.73rem;
  overflow: hidden;
  position: absolute;
  top: 7vh;
  right: 0.1vw;
  display: flex;
  align-items: center;
  padding-top: 1vh;
  margin-top: 2vh;
  color: rgb(1, 52, 94);
  background-color: rgb(241, 201, 201);
  border-radius: 12px;
  z-index: 1;
  transition: .7s;
}
.imgDescriptWrapper:hover .imgGoods {
  visibility: hidden;
}

.price {
  font-weight: 900;
  color: rgb(230, 29, 7);
  font-size: calc(var(--index) * 1.2);
  min-width: 30%;
}
.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5vw;
  width: 100%;
}
.rate {
  font-weight: 900;
  color: rgb(4, 104, 107);
  font-size: calc(var(--index) * 1.2);
  min-width: 30%;
}
button {
  cursor: pointer;
  height: 4vh;
  min-width: 30%;
  font-size: calc(var(--index) * 0.7);
  font-weight: 600;
  box-shadow: 3px 3px 8px rgb(252, 2, 2);
  border-radius: 10px;
  border: 1px solid red;
}
button:hover {
  color: red;
  font-style: italic;
  transform: translateY(-5px);
  box-shadow: 1.5px 4px 1px rgb(252, 2, 2);
  transition: 0.7s;
}
button:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px rgb(252, 2, 2);
}
.count {
  color: green;
  font-weight: 700;
}
