.buttonsWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.buttonsWrapper li {
  list-style: none;
  font-weight: 900;
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 3);
  font-size: calc(var(--index) * 1.1);
  border: 1px solid rgb(255, 0, 0);
  margin: 5vh;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: rgb(182, 1, 1);
  box-shadow: 3px 3px 5px rgb(100, 2, 2);
  cursor: pointer;
}

.buttonsWrapper li:hover {
  transform: translateY(-5px);
  transition: 0.7s;
  box-shadow: 2px 5px 0.5px rgb(100, 2, 2);
}
.buttonsWrapper li:active {
  transform: translateY(-2px);
  transition: 0.7s;
  box-shadow: 0px 2px 0.5px rgb(100, 2, 2);
}
